.admin_box{
    display: flex;
    justify-content: space-around;
}
.admin_box>div{
    width: 48%;
    height: 30px;
    background-color: #2b2541;
    text-align: center;
    color: #c5b7fa;
    font-size: 20px;
    font-weight: 500;
    border-radius: 20px;
    cursor: pointer;
}

