.mainSearch>input{
    margin-right: 10px;
    font-size: 16px;    
    padding: 5px 10px;
    border-radius: 20px;
    outline: none;
    border: none;
}

@media  (max-width: 500px) {
    .mainSearch>input{
        width: 120px;
        margin-right: 10px;
        font-size: 14px;    
        padding: 2px 6px;
        border-radius: 20px;
        outline: none;
        border: none;
    }
  }